<div class="feedback-block">
  <div class="feedback-block__header">Оставить заявку</div>
  <div class="feedback-block__form">
    <form action="#" class="feedback-block-form">
      <div class="feedback-block-form__input">
        <input type="text" name="name" placeholder="Имя *" class="feedback-block-form-input">
        <div class="feedback-block-form-input-info">?</div>
      </div>
      <div class="feedback-block-form__input">
        <input type="email" name="email" placeholder="Email *" class="feedback-block-form-input">
        <div class="feedback-block-form-input-info">?</div>
      </div>
      <div class="feedback-block-form__input">
        <input type="text" name="phone" placeholder="Телефон" pattern="[ 0-9\- \(\)\+]+" class="feedback-block-form-input">
      </div>
      <div class="feedback-block-form__input">
        <textarea name="comment" placeholder="Ваши пожелания" class="feedback-block-form-input _comment"></textarea>
      </div>
      <div class="feedback-block-form__input">
        <input name="personal" id="prsn" placeholder="Согласие на обработку" type="checkbox" class="feedback-block-form-checkbox">
        <label for="prsn" class="feedback-block-form-label">Согласен на обработку персональных данных</label>
      </div>
      <div class="feedback-block-form__input">
        <input name="companies" id="cpns" type="checkbox" class="feedback-block-form-checkbox">
        <label for="cpns" class="feedback-block-form-label">Юр.лицо</label>
      </div>
      <div class="feedback-block-form__input">
        <button class="feedback-block-form-button" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>