<div class="nav">
  <ul class="nav-menu">
    <li class="nav-menu__item">
      <a href="/" class="nav-menu__link" title="DIGIT Главная">Главная</a>
    </li>
    <li class="nav-menu__item">
      <a href="/services" class="nav-menu__link" title="DIGIT Услуги">Услуги</a>
    </li>
    <li class="nav-menu__item">
      <a href="/about" class="nav-menu__link" title="DIGIT Компания">Компания</a>
    </li>
    <li class="nav-menu__item">
      <a href="/cases" class="nav-menu__link" title="DIGIT Кейсы">Кейсы</a>
    </li>
    <li class="nav-menu__item">
      <a href="/blog" class="nav-menu__link" title="DIGIT Блог">Блог</a>
    </li>
    <li class="nav-menu__item">
      <a href="/contacts" class="nav-menu__link" title="DIGIT Контакты">Контакты</a>
    </li>
  </ul>
  <div class="nav-actions">
    <a href="/#request" class="nav-actions__link _request" title="Отправить заявку / письмо">Отправить заявку / письмо</a>
    <a href="/digit-offer.pdf" class="nav-actions__link" target="_blank" download title="Скачать pdf-презентацию">Скачать pdf-презентацию</a>
  </div>
</div>
<div class="info">
  <div class="info-content">
    <div class="header-block">
      <div class="header-block__title">Цифровые идеи<br>для бизнеса</div>
      <div class="header-block__subtitle">Работаем с 2012</div>
    </div>
    <p class="info-content__desc">DIGIT предлагает <a href="/about/">настройку и обслуживание компьютерной техники</a> в Ярославле и области. Качество <a href="/services/">наших услуг</a> проверено временем — мы работаем с <a href="/cases/">ведущими компаниями</a> региона уже более 5 лет. В нашей команде: более 20 талантливых специалистов, большой опыт и почти неограниченные возможности.</p>
    {{> social-block class="info-content__social-block" }}
  </div>
  {{> contacts-block class="contacts-block_dark info__contacts-block"}}
</div>
<div class="feedback">
  <div class="feedback__close"></div>
  <div class="feedback__content">
    <div class="header-block">
      <h3 class="header-block__title">Отправить заявку<br>или письмо</h3>
      <h4 class="header-block__subtitle">Мы свяжемся с Вами в ближайшее время</h4>
    </div>
    {{>form-block class="feedback__form form-block_nav" id="fna"}}
  </div>
</div>