<div class="nav">
  <span class="nav__close"></span>
  <div class="nav__menu">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link" title="DIGIT Главная">Главная</a>
      </li>
      <li class="nav-menu__item">
        <a href="/services" class="nav-menu__link" title="DIGIT Услуги">Услуги</a>
      </li>
      <li class="nav-menu__item">
        <a href="/about" class="nav-menu__link" title="DIGIT Компания">Компания</a>
      </li>
      <li class="nav-menu__item">
        <a href="/cases" class="nav-menu__link" title="DIGIT Кейсы">Кейсы</a>
      </li>
      <li class="nav-menu__item">
        <a href="/blog" class="nav-menu__link" title="DIGIT Блог">Блог</a>
      </li>
      <li class="nav-menu__item">
        <a href="/contacts" class="nav-menu__link" title="DIGIT Контакты">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="nav__actions">
    <ul class="nav-actions">
      <li class="nav-actions__item">
        <span class="nav-actions__link" title="Отправить заявку / письмо">Отправить заявку / письмо</span>
      </li>
      <li class="nav-actions__item">
        <a class="nav-actions__link" target="_blank" download title="Скачать pdf-презентацию">Скачать pdf-презентацию</a>
      </li>
    </ul>
  </div>
</div>
<div class="info">
  <div class="info__content">
    <div class="info-content">
      <h1 class="info-content__title" title="Мы создаем безопасность">Мы создаем безопасность</h1>
      <h4 class="info-content__subtitle">Работаем с 2004</h4>
      <p class="info-content__desc">
        MST — <a href="/agency/">full service digital agency</a>. Качество <a href="/services/">наших услуг</a> проверено временем — мы работаем с <a href="/portfolio/">ведущими брендами</a> уже 13 лет. В нашей команде: более 80 талантов, большой опыт и почти неограниченные возможности. Мы занимаем 7-е место в рейтинге ведущих компаний, входим в группу компаний Red Keds.
      </p>
      <div class="info-content__social">
        <div class="info-content-social">
          <a href="mailto:sales@digit-it.ru" class="info-content-social__item info-content-social__item_mail" target="_blank" title="Почта"></a>
          <a href="twitter.com" class="info-content-social__item info-content-social__item_twitter" target="_blank" title="Twitter"></a>
          <a href="facebook.com" class="info-content-social__item info-content-social__item_facebook" target="_blank" title="Facebook"></a>
          <a href="vk.com" class="info-content-social__item info-content-social__item_vk" target="_blank" title="Вконтакте"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="info__contacts">
    <div class="info-contacts" itemscope itemtype="http://schema.org/LocalBusiness">
      <p class="info-contacts__address" itemprop="address">
        <a href="/contacts" class="info-contacts__link"></a>Москва, Институтский переулок, 2, стр.1</p>
      <p class="info-contacts__phone" itemprop="telephone">+7 (495) 722-30-17</p>
    </div>
  </div>
</div>
<div class="feedback">
  <div class="feedback__close"></div>
  <div class="feedback__content">
    <div class="feedback-content">
      <div class="feedback-content__form">
        <form class="feedback-content-form" name="feedback-content-form" action="/" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="sessid" id="sessid" value="4c681f74d53714c7103704ad5519e400">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>