<div class="social-block{{#if class}} {{class}}{{/if}}">
  <a href="mailto:sales@digit-it.ru" class="social-block__link _mail" target="_blank" title="Почта"></a>
  <a href="https://twitter.com" class="social-block__link _twitter" target="_blank" title="Twitter"></a>
  <a href="https://facebook.com" class="social-block__link _facebook" target="_blank" title="Facebook"></a>
  <a href="https://vk.com" class="social-block__link _vk" target="_blank" title="Вконтакте"></a>
</div>