---
title: DGT - о нас
shortname: about
layout: default.hbs
---

<div class="about-content">
  <div class="about-content__info">
    <div class="about-content-info">
      <div class="about-content-info__header-block">
        <div class="header-block">
          <h3 class="header-block__title">Цифровые идеи<br>для бизнеса</h3>
          <h4 class="header-block__subtitle">Работа, которая делает нас лучше</h4>
        </div>
      </div>
      <div class="about-content-info__text">
        <div class="about-content-info-text">Компания Digit работает на рынке it-услуг более 5 лет. За этот период мы успешно реализовали более 1500 проектов и получили положительные отзывы от 400 довольных клиентов. Нашими постоянными клиентами являются лучшие компании региона.<br><br>Digit – это сплочённая команда, состоящая из 20 высококлассных специалистов в области информационных технологий. Несмотря на то, что штат полностью укомплектован, мы приглашаем на собеседование всех, кому интересно профессиональное развитие и наша отрасль в целом. Для хорошего специалиста или перспективного стажера место всегда найдется.
        </div>
      </div>
      <div class="about-content-info__scroll-button">
        <div class="scroll-button"></div>
      </div>
    </div>
  </div>
</div>
<div class="about-content">
  <div class="about-content__info">
    <div class="about-content-info">
      <div class="about-content-info__header-block">
        <div class="header-block">
          <h3 class="header-block__title">Цифровые идеи<br>для бизнеса</h3>
          <h4 class="header-block__subtitle">Работа, которая делает нас лучше</h4>
        </div>
      </div>
      <div class="about-content-info__text">
        <div class="about-content-info-text">Мы гордимся нашими проектами. А наши клиенты с их помощью успешно добиваются своих бизнес-целей. Напишите или позвоните нам, и мы начнем воплощать ваш новый проект вместе.   
        </div>
        <div class="about-content-info__contacts-block _dark">{{> contacts-block alignVertical=true withEmail=true }}</div> 
        <div class="about-content-info__feedback">
          <a href="/#request" class="about-content-info-feedback" title="Отправить заявку / письмо">Отправить заявку / письмо</a>
        </div>
        <div class="about-content-info__social-block">{{> social-block }}</div>
      </div>
      <div class="about-content-info__scroll-button">
        <div class="scroll-button _up"></div>
      </div>
    </div>
  </div>
</div>
<div class="about-banner"></div>