---
title: DGT - о нас
shortname: about
layout: default.hbs
---

<div class="about-content">
  <div class="about-content__info">
    <div class="about-content-info">
      <div class="about-content-info__header-block">
        <div class="header-block">
          <h3 class="header-block__title">Цифровые идеи<br>для бизнеса</h3>
          <h4 class="header-block__subtitle">Работа, которая делает нас лучше</h4>
        </div>
      </div>
      <div class="about-content-info__text">
        <div class="about-content-info-text">MST digital-агентство с 13-летним опытом  работы и большим багажом знаний.
          Сегодня MST – это команда из 80 человек, отличные условия для плодотворной работы, интересные проекты, амбициозные планы.
           Работаем с брендами по направлениям: аналитика, стратегическое планирование, разработка разной степени сложности, проектирование, дизайн, комплексное продвижение в интернет-среде, поддержка и развитие проектов.<br><br>
          Мы подбираем наиболее эффективные решения поставленных бизнес-задач. Делаем это комплексно и умеем находить нестандартные подходы. При этом каждый наш ход – оправдан, просчитан и выверен.
          MST digital agency  - в 10-ке лучших компаний рынка. В нашем арсенале более 50 престижных наград и с каждым годом их становится больше.
        </div>
      </div>
      <div class="about-content-info__services">
        <ul class="about-content-info-services">
          <li class="about-content-info-services__link">
            <a href="/services/#qw" class="about-content-info-services-link _1" title="Обслуживание рабочих мест">Обслуживание<br>рабочих мест</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qe" class="about-content-info-services-link _2" title="Администрирование серверов">Администрирование серверов</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qr" class="about-content-info-services-link _3" title="Поддержка оргтехники">Поддержка<br>оргтехники</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qt" class="about-content-info-services-link _4" title="IP-телефония">IP-телефония</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qy" class="about-content-info-services-link _5" title="Монтаж и настройка сети">Монтаж и<br>настройка сети</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qu" class="about-content-info-services-link _6" title="Web-разработка">Web-разработка</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qt" class="about-content-info-services-link _7" title="Seo-продвижение">Seo-продвижение</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qy" class="about-content-info-services-link _8" title="Внедрение и поддержка ПО">Внедрение и<br>поддержка ПО</a>
          </li>
          <li class="about-content-info-services__link">
            <a href="/services/#qu" class="about-content-info-services-link _9" title="Безопасность">Безопасность</a>
          </li>
        </ul>
      </div>
      <div class="about-content-info__scroll-button"></div>
    </div>
  </div>
</div>
<div class="about-content">
  <div class="about-content__info">
    <div class="about-content-info">
      <div class="about-content-info__header-block">
        <div class="header-block">
          <h3 class="header-block__title">We create<br>digital stories</h3>
          <h4 class="header-block__subtitle">Работа, которая делает нас лучше</h4>
        </div>
      </div>
      <div class="about-content-info__scroll-button"></div>
    </div>
  </div>
</div>
<div class="about-content">
  <div class="about-content__info">
    <div class="about-content-info">
      <div class="about-content-info__header-block">
        <div class="header-block">
          <h3 class="header-block__title">We create<br>digital stories</h3>
          <h4 class="header-block__subtitle">Работа, которая делает нас лучше</h4>
        </div>
      </div>
      <div class="about-content-info__text">
        <div class="about-content-info-text">Мы создаем цифровые истории и гордимся нашими проектами. А наши клиенты с их помощью успешно добиваются своих бизнес-целей. Напишите или позвоните нам, и мы начнем создавать  вашу новую историю вместе.   
        </div>
        <div class="about-content-info__contacts-block _dark">{{> contacts-block alignVertical=true withEmail=true }}</div> 
        <div class="about-content-info__feedback">
          <a href="#" class="about-content-info-feedback" title="Отправить заявку / письмо">Отправить заявку / письмо</a>
        </div>
        <div class="about-content-info__social-block">{{> social-block }}</div>
      </div>
      <div class="about-content-info__scroll-button _up"></div>
    </div>
  </div>
</div>
<div class="about-banner"></div>