---
title: DGT - информация о нас
shortname: contacts
layout: default.hbs
---

<div class="contacts-content">
  <div class="contacts-content__company">
    <div class="contacts-content-company">
      <div class="contacts-content-company__header-block">
        <div class="header-block">
          <h3 class="header-block__title">We create<br>digital stories</h3>
          <h4 class="header-block__subtitle">Работаем с 2004</h4>
        </div>
      </div>
      <div class="contacts-content-company__info">
        <div class="contacts-content-company-info">
          <p class="contacts-content-company-info__desc">Мы всегда открыты для общения и новых знакомств. И даже когда наш офис закрыт, мы рады пообщаться по почте или по телефону. Хотите поговорить с нашим руководителем?<br>Напишите Николаю в <a href="https://www.facebook.com/nickfet" target="_blank">Facebook</a>, он будет рад<br>Мечтаете работать у нас? Отправляйте резюме на <a href="mailto:bestjob@mstagency.ru" target="_blank">bestjob@mstagency.ru</a> нашему HR-директору Ольге.</p>
          <div class="contacts-content-company-info__contacts-block _dark">{{> contacts-block_vert}}</div>
          <div class="contacts-content-company-info__actions">
            <div class="contacts-content-company-info-actions">
              <a href="/upload/MST_DIGITAL_AGENCY_2017.pdf" download="" target="_blank" class="contacts-content-company-info-actions__link" title="Скачать pdf-презентацию">Скачать pdf-презентацию</a>
              <span class="contacts-content-company-info-actions__link" title="Отправить заявку / письмо">Отправить заявку / письмо</span>
            </div>
          </div>
          <div class="contacts-content-company-info__social-block">{{> social-block }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contacts-map" id="mp"></div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9817cc582f6a3b97398cddceca9f51ec793abd1fd7620fa5d482add92736783f&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true&amp;id=mp"></script>