---
title: DGT - наши услуги
shortname: services
layout: default.hbs
---

<div class="services-nav">
  <h1 class="services-nav__title">Основные услуги</h1>
  <div class="services-nav__categories">
    <ul class="services-nav-categories">
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_1 services-nav-categories__button_active" title="Стратегия" data-ctn="qw">Стратегия</button>
      </li>
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_2" title="Аналитика" data-ctn="qe">Аналитика</button>
      </li>
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_3" title="Дизайн" data-ctn="qr">Дизайн</button>
      </li>
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_4" title="Разработка" data-ctn="qt">Разработка</button>
      </li>
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_5" title="Продвижение" data-ctn="qy">Продвижение</button>
      </li>
      <li class="services-nav-categories__item">
        <button class="services-nav-categories__button services-nav-categories__button_6" title="Поддержка" data-ctn="qu">Поддержка</button>
      </li>
    </ul>
  </div>
</div>
<div class="services-content">
  <div class="services-content__categories">
    <div class="services-content-categories">
      <div class="services-content-categories__item" data-ctgr="qw">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
      <div class="services-content-categories__item" data-ctgr="qe">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
      <div class="services-content-categories__item" data-ctgr="qr">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
      <div class="services-content-categories__item" data-ctgr="qt">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
      <div class="services-content-categories__item" data-ctgr="qy">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
      <div class="services-content-categories__item" data-ctgr="qu">
        <div class="services-content-categories-item">
          <div class="services-content-categories-item__desc">
            <div class="services-content-categories-item-desc_middle-line"></div>
            <div class="services-content-categories-item-desc">
              <h3 class="services-content-categories-item-desc__title">Стратегия</h3>
              <p class="services-content-categories-item-desc__text">Разработка стратегий присутствия в интерактивной среде – одна из ведущих экспертиз агентства. Наши клиенты пользуются услугами стратегического планирования при выводе в digital нового бренда или продукта, повышении узнаваемости бренда и при решении других бизнес задач . На основе аналитики мы формулируем месседж и глобальную идею продукта, а также подготавливаем общую стратегию развития бренда, которая включает детальный коммуникационный план продвижения.</p>
              <div class="services-content-categories-item-desc__clients">
                <div class="services-content-categories-item-desc-clients">
                  <h5 class="services-content-categories-item-desc-clients__title">Лучшие кейсы</h5>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                  <a href="/" class="services-content-categories-item-desc-clients__name" title="ЗАО Атрус">ЗАО "Атрус"</a>
                </div>
              </div>
            </div>
          </div>
          <div class="services-content-categories-item__cases-context-list">{{> cases-content-list listLength=3 currentTag="Технологии"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services-feedback">
  <div class="services-feedback__toggler">
    <div class="services-feedback-toggler" title="Оставить заявку">Оставить заявку</div>
  </div>
  <a href="/" class="services-feedback__presentation" target="_blank" download title="Скачать презентацию">Скачать презентацию</a>
</div>