---
title: DGT - информация о нас
shortname: 404
layout: default.hbs
---

<div class="not-found-content">
  <div class="not-found-content__inside">
    <div class="not-found-content-inside">
      <div class="_50p">
        <h1 class="not-found-content-inside__title">404</h1>
        <span class="not-found-content-inside__subtitle">Ooops!</span>
        <p class="not-found-content-inside__message">Страница не найдена. Вы можете перейти на <a href="/">главную</a> или сыграть в 2048.</p>
        <span class="not-found-content-inside__arrow"></span>
      </div>
      <div class="_50p">
        <div class="container">
          <div class="heading">
            <h1 class="title">2048</h1>
            <div class="scores-container">
              <div class="score-container">0</div>
              <div class="best-container">0</div>
            </div>
          </div>

          <div class="above-game">
            <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
            <a class="restart-button">New Game</a>
          </div>

          <div class="game-container">
            <div class="game-message">
              <p></p>
              <div class="lower">
                <a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
              </div>
            </div>

            <div class="grid-container">
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
            </div>

            <div class="tile-container">

            </div>
          </div>

          <p class="game-explanation">
            <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
          </p>
          <hr>
          <p>
          <strong class="important">Note:</strong> This site is the official version of 2048. You can play it on your phone via <a href="http://git.io/2048">http://git.io/2048.</a> All other apps or sites are derivatives or fakes, and should be used with caution.
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>