---
baseurl: /cases/
layout: default.hbs
---

<div class="blog-content">
  <div class="blog-content__posts">
    <div class="blog-content-posts">
      <div class="blog-content-posts__item">
        <div class="blog-content-posts-item">
          <a href="/cases" class="blog-content-posts-item__back" title="к кейсам">к кейсам</a>
          <div class="blog-content-posts-item__body">
            <div class="blog-content-posts-item-body">{{> body }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-content__banner-image">
    <div class="banner-image" style="background-image: url(/{{this.basename}}.jpg)">
      <div class="banner-image__wrapper">
        <div class="banner-image__header-block _white">
          <div class="header-block">
            <h1 class="header-block__title">{{title}}</h1>
            <h4 class="header-block__subtitle">Гордимся нашими проектами</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>