---
shortname: blog
layout: default.hbs
---

<div class="blog-content">
  <div class="blog-content__posts">
    <div class="blog-content-posts">
      <div class="blog-content-posts__item">
        <div class="blog-content-posts-item">
          <a href="/cases" class="blog-content-posts-item__back" title="к кейсам">к кейсам</a>
          <h1 class="blog-content-posts-item__title">{{title}}</h1>
          <span class="blog-content-posts-item__date">{{moment  created  lang ="ru"  format ="DD MMMM YYYY" }}</span>
          <div class="blog-content-posts-item__body">
            <div class="blog-content-posts-item-body">{{> body }}</div>
          </div>
          <div class="blog-content-posts-item__social"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-content__banner"></div>
</div>