<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="cvtk">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/{{ shortname }}.css">
  </head>
  <body class="page">
    <input type="checkbox" class="menu-toggler" id="_xph">
    <div class="bar" itemscope="" itemtype="http://schema.org/LocalBusiness">
      <a href="tel:+74852770760" class="bar__phone" itemprop="telephone">+7 (4852) 770‒760</a>
    </div>
    <label for="_xph" class="logo"></label>
    <label for="_xph" class="overlay"></label>
    <label for="_xph" class="close"></label>
    {{> main-nav }}
    {{> body }}
    <script src="//localhost:35729/livereload.js"></script>
    <script src="/base.js"></script>
    <script src="/{{ shortname }}.js"></script>
  </body>
</html>