@font-face
  font-family: 'Roboto Condensed'
  font-style: normal
  font-weight: 300
  src: url('roboto_condensed_light.eot')
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('roboto_condensed_light.eot?#iefix') format('embedded-opentype'), url('roboto_condensed_light.woff2') format('woff2'), url('roboto_condensed_light.woff') format('woff'), url('roboto_condensed_light.ttf') format('truetype'), url('roboto_condensed_light.svg#RobotoCondensed') format('svg')

@font-face
  font-family: 'Roboto Condensed'
  font-style: normal
  font-weight: 400
  src: url('roboto_condensed_normal.eot')
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('roboto_condensed_normal.eot?#iefix') format('embedded-opentype'), url('roboto_condensed_normal.woff2') format('woff2'), url('roboto_condensed_normal.woff') format('woff'), url('roboto_condensed_normal.ttf') format('truetype'), url('roboto_condensed_normal.svg#RobotoCondensed') format('svg')

@font-face
  font-family: 'Dgt Condensed'
  src: url('dgt_condensed.eot')
  src: url('dgt_condensed.eot?#iefix') format('embedded-opentype'), url('dgt_condensed.woff') format('woff'), url('dgt_condensed.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html, body
  min-height: 100%
  height: 100%

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  padding: 0
  font-family: 'Roboto Condensed', Arial, sans-serif
  font-weight: 300
  font-size: 100%
  color: #373737
  background: white
  text-rendering: optimizeLegibility
  min-width: 320px

a:focus, a:hover, a:active, input, button, select, textarea, div:focus
  outline: 0

ul
  padding: 0
  margin: 0
  list-style: none

h1, h2, h3, h4, h5, h6
  font-family: inherit
  font-weight: normal
  margin: 0
  color: inherit

a
  color: #de5050
  text-decoration: none
  &:visited
    color: #de5050
  &:hover
    color: #931c1c
    transition: all .2s ease-in-out

button
  outline: 0
  margin: 0
  font-size: 100%
  vertical-align: middle
  line-height: normal

img
  vertical-align: middle
  border: 0

input, textarea, button
  font-family: 'Roboto Condensed', Arial, sans-serif
  font-weight: 300
  -webkit-appearance: none
  border-radius: 0
  outline: 0
  border: 0
  width: 100%

input[type=search]::-ms-clear, input[type=search]::-ms-reveal
  display: none
  width: 0
  height: 0

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration
  display: none

button, input, select, textarea
  margin: 0
  font-size: 100%
  vertical-align: middle

button, input
  line-height: normal

*, :after, :before
  box-sizing: border-box
  
.page
  position: relative

.logo
  display: block
  position: fixed
  z-index: 96
  top: 0
  left: 0
  width: 88px
  height: 88px
  background: #ff4f4f url(logo.png) 50% 50% no-repeat
  background-size: 58px
  cursor: pointer
  animation: logo 6s linear infinite
  transition: all .15s ease-in-out

  &:after
    content: ''
    display: block
    position: absolute
    left: 25px
    top: 31px
    width: 1.3em
    height: 0
    opacity: 0
    background: white
    box-shadow: 0 0.39em 0 0 white, 0 0.78em 0 0 white
    font-size: 28px
    animation: navicon 6s linear infinite

  &:hover
    animation: none
    background-size: 0

  &:hover:after
    height: .1em
    opacity: 1
    animation: none

  @keyframes logo
    47%
      background-size: 58px
    50%
      background-size: 0
    97%
      background-size: 0
    100%
      background-size: 58px

  @keyframes navicon
    47%
      height: 0
      opacity: 1
    50%
      height: .1em
    97%
      height: .1em
    100%
      height: 0
      opacity: 0

@media screen and (max-width: 1100px)
  .logo
    width: 75px
    height: 75px
    background-size: 50px

    &:after
      left: 19px
      top: 25px

    @keyframes logo
      47%
        background-size: 50px
      50%
        background-size: 0
      97%
        background-size: 0
      100%
        background-size: 50px

@media screen and (max-width: 900px)
  .logo
    position: absolute

.menu_toggler
  display: none
  user-select: none

.menu_toggler:checked ~ .nav
  left: 0

.menu_toggler:checked ~ .info
  left: 333px

.menu_toggler:checked ~ .overlay
  opacity: 1
  left: 0
  visibility: visible
  transition: opacity .3s ease-in-out

.menu_toggler:checked ~ .close
  opacity: 1
  visibility: visible
  transition: opacity .75s ease-in-out

.menu_toggler:not(:checked) ~ .feedback
  left: -700px

@media screen and (max-width: 900px)
  .menu_toggler:checked ~ .nav
    top: 0

  .menu_toggler:checked ~ .info
    left: 0
    top: 458px
  
  .menu_toggler:checked ~ .overlay
    opacity: 0
    visibility: none

@media screen and (max-width: 600px)
  .menu_toggler:checked ~ .info
    top: 423px

.close
  position: fixed
  top: 20px
  left: 20px
  width: 21px
  height: 21px
  background: url(sprite.png) 0 0 no-repeat
  cursor: pointer
  z-index: 100
  visibility: hidden
  opacity: 0
  transition: all 0s .3s, opacity .3s ease-in-out

@media screen and (max-width: 900px)
  .close
    top: 15px
    left: 15px

@media screen and (max-width: 600px)
  .close
    top: 13px

.nav
  position: fixed
  z-index: 99
  top: 0
  left: -350px
  height: 100%
  min-height: 510px
  width: 333px
  background-color: #ff4f4f
  will-change: left
  transition: left .3s ease-in-out

.nav__menu
  width: 100%
  margin-top: 40%

.nav-menu
  position: relative
  
.nav-menu__item
  display: block
  width: 100%
  border-bottom: 1px solid #ed4a4a
  &:first-child
    border-top: 1px solid #ed4a4a

.nav-menu__link
  display: block
  font: 16px/45px "Roboto Condensed"
  color: white
  height: 45px
  margin-left: 20px
  text-transform: uppercase
  &:visited, &:hover
    color: white

.nav__actions
  width: 100%
  position: absolute
  bottom: 0
  left: 0

.nav-actions
  position: relative

.nav-actions__item
  display: block
  border-top: 1px solid #cb3d3d
  background-color: #e73636
  transition: background-color .2s ease-in-out
  &:hover
    background-color: #de2828

.nav-actions__link
  display: block
  height: 50px
  margin-left: 20px
  line-height: 50px
  font-size: 16px
  cursor: pointer
  color: white
  &:visited, &:hover
    color: white

@media screen and (max-width: 900px)
  .nav
    position: absolute
    top: -480px
    left: 0
    width: 100%
    height: 458px
    min-height: 0
    transition: top .3s ease-in-out

  .nav__menu
    margin: 50px 0 105px 0
    text-align: center

  .nav-menu__link
    height: 50px
    line-height: 50px
    margin-left: 0

  .nav-actions__link
    margin-left: 0px
    text-align: center

@media screen and (max-width: 600px)
  .nav
    height: 423px

  .nav__menu
    margin-top: 45px

  .nav-menu__link
    height: 45px
    line-height: 45px

.info
  position: fixed
  z-index: 97
  top: 0
  left: -700px
  width: 633px
  min-height: 480px
  height: 100%
  background-color: white
  box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.25)
  text-align: center
  opacity: 1
  will-change: left
  transition: left .5s ease-in-out

.info__content
  width: 80%
  position: absolute
  top: 20%
  left: 10%

.info-content
  position: relative

.info-content__header-block
  position: relative

.info-content__desc
  font-size: 17px
  line-height: 23px
  margin: 20px 0 5px 0

.info-content__social-block
  margin-top: 20px

.info__contacts-block
  position: absolute
  bottom: 20px
  width: 100%

@media screen and (max-width: 1600px) and (min-width: 1100px)
  .info-content__desc
    font-size: 15px
    line-height: 21px
    margin: 17px 0 5px 0

@media screen and (max-width: 1100px) and (min-width: 900px)
  .info
    width: 550px

  .info-content__desc
    font-size: 15px
    line-height: 21px
    margin: 17px 0 5px 0

@media screen and (max-width: 900px)
  .info
    position: absolute
    top: -1000px
    left: 0
    width: 100%
    min-height: 0
    height: auto
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
    transition: top .5s ease-in-out

  .info__content
    position: relative
    margin: 15% 5% 10% 5%
    width: 90%
    left: 0
    top: 0

  .info-content__desc
    font-size: 15px
    line-height: 21px
    margin: 28px 0 20px 0

  .info__contacts-block
    position: relative
    margin: 0 auto 20px
    bottom: auto
    .contacts-block__address
      span:after
        content: ""
    .contacts-block__phone
      display: block
      margin-top: 4px

@media screen and (max-width: 600px)

  .info__content
    margin-top: 20%
    margin-bottom: 15%

.feedback
  position: fixed
  z-index: 98
  top: 0
  left: -700px
  width: 633px
  min-height: 400px
  height: 100%
  background-color: white
  text-align: center
  box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.25)
  will-change: left
  transition: left .5s ease-in-out

.feedback_visible
  left: 333px

.feedback_visible_right
  left: auto
  right: -700px
  margin-right: 700px
  will-change: margin-right
  transition: margin-right .5s ease-in-out

.feedback__close
  position: absolute
  top: 20px
  right: 20px
  width: 21px
  height: 21px
  background: url(sprite.png) 0 -130px no-repeat
  opacity: .7
  cursor: pointer
  transition: opacity .2s ease-in-out
  &:hover
    opacity: 1

.feedback__content
  padding: 5%
  height: 90%
  text-align: center

.feedback-content
  display: inline-block
  vertical-align: middle
  width: 470px

.feedback-content__form
  position: relative

.feedback-content-form
  position: relative

.overlay
  display: block
  visibility: hidden
  position: fixed
  z-index: 96
  top: 0
  left: -100%
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.75)
  opacity: 0
  will-change: opacity
  transition: all 0s .3s, opacity .3s ease-in-out

._index-page
  .cases-content-list-item-meta__year
    display: none
    width: 0
  .cases-content-list-item-meta__header
    width: 100%
  .cases-content-list-item__meta
    bottom: 0

.cases-content-list._listLength-3
  position: relative
  height: 100%
  &:after
    content: ''
    display: block
    width: 10px
    height: 100%
    position: absolute
    z-index: 5
    top: 0
    left: -10px
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
  .cases-content-list__item
    position: relative
    width: 100%
    height: 33.3333%
  .cases-content-list-item
    height: 100%
  .cases-content-list-item__image
    height: 100%

.cases-content-list
  width: 100%
  font-size: 0
  overflow: hidden
  &:hover .cases-content-list-item__bg
    opacity: .55

.cases-content-list__item
  position: relative
  width: 33.33%
  height: 310px
  display: block
  float: left
  vertical-align: top
  font-size: 16px
  overflow: hidden
  background-color: #000

.cases-content-list-item
  display: block
  position: relative
  &:hover > .cases-content-list-item__meta
    bottom: 0
  &:hover > .cases-content-list-item__bg
    opacity: 0

.cases-content-list-item__image
  position: relative
  width: 100%
  height: 310px
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover

.cases-content-list-item__meta
  position: absolute
  width: 100%
  bottom: -100%
  left: 0
  background-color: #ff4f4f
  color: white
  z-index: 1
  transition: bottom .35s ease-in-out

.cases-content-list-item-meta
  position: relative

.cases-content-list-item-meta__year
  display: inline-block
  vertical-align: middle
  font-size: 50px
  font-family: 'Dgt Condensed'
  width: 17%
  text-align: center
  padding: 0 1%

.cases-content-list-item-meta__header
  display: inline-block
  vertical-align: middle
  width: 80%
  border-left: 1px solid #e94242
  padding: 4.75% 0 4.75% 5%

.cases-content-list-item-meta-header
  position: relative

.cases-content-list-item-meta-header__title
  font-family: 'Dgt Condensed'
  font-size: 2.5em
  line-height: .85em

.cases-content-list-item-meta-header__subtitle
  display: inline-block
  line-height: .9em
  font-size: 1em
  padding-right: 8px
  margin-right: 5px
  border-right: 1px solid white
  &:last-child
    border-right: 0

.cases-content-list-item__bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0
  transition: opacity .25s ease
  z-index: 2

._white .header-block
  .header-block__title
    color: #fff
    &:after
      background: #fff
  .header-block__subtitle
    color: #fff

.header-block
  position: relative

.header-block__title
  position: relative
  display: inline-block
  font: 55px/50px DGT Condensed
  text-transform: uppercase
  color: #3a3a3a
  &:after
    content: ""
    width: 100%
    height: 2px
    background: #484848
    display: block
    margin: 6px 0 9px

.header-block__subtitle
  font: 200 16px/1em "Roboto Condensed"
  text-transform: uppercase

@media screen and (max-width: 1600px)
  .header-block__title
    font-size: 45px
    line-height: 40px

  .header-block__subtitle
    font-size: 14px
    
@media screen and (max-width: 1100px)
  .header-block__title
    font-size: 40px
    line-height: 36px

.contacts-block
  position: relative
  line-height: 1

._dark .contacts-block
  svg 
    fill: #373737
  .contacts-block__address, .contacts-block__phone
    color: #373737
    &:hover
      color: #373737

.contacts-block svg
  fill: #fff
  width: 14px
  height: 17px
  margin: 0 8px 0 0
  vertical-align: middle

.contacts-block__icon
  display: inline-block
  vertical-align: middle
  width: 14px
  height: 17px
  margin: -1px 10px 0 0
  background: url(sprite.png) -23px -56px no-repeat

.contacts-block__address
  display: inline-block
  font-size: 17px
  font-family: "Roboto Condensed"
  color: #fff
  font-weight: 300
  margin: 0

  span:after
    content: "/"
    display: inline-block
    margin-left: 4px

.contacts-block__phone
  font-family: "Dgt Condensed"
  color: #fff
  font-weight: 400
  text-decoration: none
  font-size: 27px
  &:hover
    color: #fff
  &._vert
    margin: 3px 0
    a
      color: #373737
      &:hover
        color: #373737

.contacts-block__mail
  margin: 0
  &:before
    content: ''
    display: inline-block
    vertical-align: middle
    width: 16px
    height: 11px
    margin: -1px 7px 0 0
    background: url(icon_email.png) 0px 0px no-repeat

@media screen and (max-width: 1600px)
  .contacts-block__address
    font-size: 15px

  .contacts-block__phone
    font-size: 24px

  .contacts-block__mail
    font-size: 15px

._light .social-block
  
  .social-block__link
    border-color: #ff8383
    &._mail:after
      background-position: -21px -246px
    &._twitter:after
      background-position: 0 -41px
    &._facebook:after
      background-position: -11px -57px
    &._vk:after
      background-position: -31px -41px
    &:hover
      background-color: #d23d3d
      border-color: #c33939

._dark .social-block
  .social-block__link
    border: 1px solid #aaa
    &._mail:after
      background-position: -21px -246px
    &._twitter:after
      background-position: 0 -41px
    &._facebook:after
      background-position: -11px -57px
    &._vk:after
      background-position: -31px -41px
    &:hover
      background-color: transparent
      border-color: #fff

.social-block
  position: relative
  height: 40px
  font-size: 0

.social-block__link
  display: inline-block
  position: relative
  width: 40px
  height: 40px
  margin-right: 4px
  border: 1px solid #4e4e4e
  border-radius: 20px
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out
  &:last-child
    margin-right: 0
  &:after
    content: ''
    position: absolute
    background: url(sprite.png) -23px 0 no-repeat
  &:hover
    background-color: #ff4f4f
    border-color: #ff4f4f

.social-block__link._mail:after
  top: 12px
  left: 9px
  width: 20px
  height: 14px
  background-position: 0 -246px

.social-block__link._mail:hover:after
  background-position: -21px -246px

.social-block__link._twitter:after
  top: 12px
  left: 11px
  width: 17px
  height: 15px
  background-position: 0 -24px

.social-block__link._twitter:hover:after
  background-position: 0 -41px

.social-block__link._facebook:after
  top: 11px
  left: 14px
  width: 10px
  height: 16px
  background-position: 0 -57px

.social-block__link._facebook:hover:after
  background-position: -11px -57px

.social-block__link._vk:after
  top: 12px
  left: 14px
  width: 10px
  height: 13px
  background-position: -19px -41px

.social-block__link._vk:hover:after
  background-position: -31px -41px