.cases-content
  width: 100%
  box-sizing: border-box
  padding-left: 88px

.cases-content__title
  display: none
  width: 100%
  color: #373737
  text-align: center
  padding: 30px 0

.cases-content__nav
  position: fixed
  top: 0
  left: 0
  width: 88px
  height: 100%
  box-sizing: border-box
  padding-top: 88px
  background-color: #ff4f4f
  z-index: 50

.cases-content-nav
  position: relative
  width: 100%
  height: 94%
  border-top: 1px solid #c84040
  box-sizing: border-box
  padding: 25px 0
  &:before
    content: ''
    position: absolute
    font-size: 0
    width: 1px
    height: 100%
    left: 50%
    top: 3%
    background-color: white

.cases-content-nav__item
  height: 24.85%
  width: 100%
  text-align: center
  position: relative

.cases-content-nav-item
  display: inline-block
  font: 19px "Dgt Condensed"
  position: relative
  width: 30px
  height: 30px
  padding-top: 10px
  color: white
  background-color: #ff4f4f
  border: 0
  cursor: pointer
  &:hover:after
    border: 1px solid white
    background-color: #ff4f4f
  &:hover:before
    opacity: 0
  &:before
    opacity: 1
    content: ''
    position: absolute
    transition: opacity .1s ease-in-out
    width: 7px
    height: 7px
    border-radius: 7px
    background-color: white
    left: 50%
    margin-left: -3px
    top: 0
    z-index: 1
  &:after
    content: ''
    position: absolute
    transition: background-color .1s ease-in-out, border .25s ease-in-out
    width: 50px
    height: 50px
    border-radius: 50px
    top: -5px
    left: -9px
    z-index: 0
    border: 1px solid transparent
    background-color: transparent

.cases-content-nav-item__year
  position: relative
  z-index: 1

.cases-content__list
  position: relative