.contacts-content
  width: 66%
  position: relative
  height: 100%
  z-index: 10
  box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.25)
  float: left
  background-color: white

.contacts-map
  width: 34%
  height: 100%
  position: relative
  float: left

.contacts-content__wrap
  position: relative
  height: 65%
  width: 80%
  margin: 180px 10% 0
  border: 4px solid #ff4f4f
  text-align: center
  min-height: 520px
  &:before
    content: ''
    position: absolute
    top: -5px
    left: 50%
    margin-left: -145px
    height: 6px
    width: 290px
    background-color: white
  
.contacts-content__header-block
  position: absolute
  top: -49px
  margin: 0 auto
  width: 100%

.contacts-content__inner
  padding-left: 2%
  padding-right: 2%
  height: 100%
  padding-bottom: 0
  padding-top: 130px
  width: 100%
  box-sizing: border-box

.contacts-content__desc
  font-size: 17px
  line-height: 23px
  width: 76%
  margin: 0 12%

.contacts-content__contacts-block
  text-align: center
  margin-top: 40px

.contacts-content__actions
  margin-top: 15px

.contacts-content__btn
  width: 237px
  &:first-child
    margin-right: 7px

.contacts-content__social-block
  margin: 76px 0

@media (max-width: 1600px)
  .contacts-content__desc
    font-size: 15px
    line-height: 21px

  .contacts-content__social-block
    margin: 30px 0

@media (max-width: 1100px)
  .contacts-content__inner
    padding-top: 85px

  .contacts-content__contacts-block
    margin-top: 30px

  .contacts-content__btn
    display: block
    margin: 0 auto
    &:first-child
      margin-right: auto
      margin-bottom: 10px

  .contacts-content__social-block
    margin: 20px 0

@media (max-width: 900px)
  .contacts-content
    padding-top: 135px
    float: none
    width: 100%
    height: auto
    box-shadow: none

  .contacts-map
    width: 100%
    height: 320px
    float: none

  .contacts-content__wrap
    width: 100%
    height: auto
    border: 0
    margin: 0
    min-height: 0

  .contacts-content__inner
    padding: 85px 30px 0

  .contacts-content__desc
    width: 100%
    margin: 0