.services-title
  font-size: 10px
  line-height: 10px

.services-nav
  position: fixed
  z-index: 10
  width: 88px
  height: 100%
  padding-top: 78px
  left: 0
  border-right: 1px solid #e8e8e8
  background-color: white
  min-height: 450px

.services-nav__items
  position: relative
  display: block
  top: 5%
  width: 100%
  height: 94%
  text-align: center

.services-nav__item
  width: 100%
  height: 11.75%
  position: relative
  &:before
    content: ''
    position: absolute
    top: 0
    left: 50%
    width: 1px
    height: 100%
    background-color: #d6d6d6
    z-index: 1
  &:last-child:before
    display: none

.services-btn
  position: absolute
  left: 50%
  margin-left: -24px
  margin-top: -24px
  cursor: pointer
  z-index: 5
  opacity: .9
  top: 0
  width: 48px
  height: 48px
  display: inline-block
  background-color: transparent
  border-radius: 48px
  line-height: 46px
  text-align: center
  overflow: hidden
  font-size: 0
  padding-left: 30px
  border: 0
  color: transparent
  transition: background-color .1s .25s, width .1s .3s, color .2s .35s
  &:hover
    background-color: #ff4f4f
    width: 275px
    z-index: 10
    font-size: 15px
    color: white
    text-decoration: none
    &:after
      width: 48px
      height: 48px
      left: 0
      top: 0
  &:after
    content: ''
    position: absolute
    width: 15px
    height: 15px
    background-color: white
    border-radius: 50%
    border: 2px solid #ff4f4f
    left: 17px
    top: 17px
    transition: all .2s

.services-btn_active
  &:hover
    background-color: transparent
    z-index: 5
    font-size: 0
    &:after
      width: 15px
      height: 15px
      left: 17px
      top: 17px
  &:after
    background-color: #ff4f4f

.services-content
  width: 100%
  height: 100%
  padding-left: 88px

.services-content__page
  height: 100%
  padding-left: 5%
  font-size: 0

.services-content__item
  position: relative
  z-index: 5
  display: inline-block
  width: 55%
  height: 100%
  vertical-align: top

.services-content__middleline
  display: inline-block
  vertical-align: middle
  width: 1px
  height: 100%

.services-content__wrap
  display: inline-block
  width: 90%
  vertical-align: middle

.scroll-button_services
  position: fixed
  left: 30%
  bottom: 22px
  z-index: 5

.services-content__cases
  position: relative
  display: inline-block
  vertical-align: top
  width: 45%
  height: 100%

// services-item block start
.services-item
  position: relative

.services-item__title
  font: 55px "DGT Condensed"
  letter-spacing: -0.022em

.services-item__description
  margin: 0 0 25px
  font-size: 17px
  line-height: 23px

.services-item__cases
  font-size: 15px
  text-transform: uppercase

.services-item__tag
  margin: 8px 3px 0 0
// services-item block start

.services-feedback
  display: none
  position: fixed
  width: 20%
  right: 0
  top: 0
  height: 100%
  background-color: white
  z-index: 95
  padding: 15px 15px 65px
  overflow: hidden
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1)

.services-feedback__wrap
  position: relative
  height: 100%
  border: 2px solid #e73636

.services-feedback__header-block
  display: block
  position: absolute
  width: 90%
  text-align: center
  top: 50%
  margin-top: -85px
  left: 5%
  height: 170px
  cursor: pointer
  &:before
    content: ''
    position: absolute
    left: 50%
    bottom: -35px
    margin-left: -24px
    width: 50px
    height: 50px
    border: 1px solid #4d4d4d
    border-radius: 50px
    background-color: white
  &:after
    content: ''
    position: absolute
    left: 50%
    margin-left: -11px
    bottom: -15px
    width: 24px
    height: 11px
    background: url(sprite.png) -20px -227px no-repeat

.services-feedback__presentation
  position: absolute
  width: 100%
  height: 50px
  left: 0
  bottom: 0
  line-height: 50px
  text-transform: uppercase

@media (min-width: 1800px)
  .services-content
    width: 80%

  .services-feedback
    display: block

@media screen and (max-width: 1100px)
  .services-nav
    width: 75px

  .services-content
    padding-left: 75px

  .services-item__title
    font-size: 45px

  .services-item__description
    margin: 0 0 20px
    font-size: 15px
    line-height: 21px

@media screen and (max-width: 900px)
  .services-nav
    display: none

  .services-content
    padding-left: 0

  .scroll-button_services
    display: none

  .services-content__page
    height: auto
    padding: 30px
    &:first-child
      padding-top: 60px
      
  .services-content__wrap
    width: 100%

  .services-content__item
    display: block
    width: 100%
    height: auto

  .services-content__cases
    width: 100%
    height: 310px
    margin-top: 20px

  .services-item__title
    font-size: 40px
    line-height: 36px
    margin-bottom: 15px
    text-align: center

@media screen and (max-width: 600px)
  .services-content__page
    padding: 20px